{% extends 'base.html' %}

{% block title %}
Bookmark Create
{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-12 col-xl-8">
        <form action="" method="post">
            {% csrf_token %}   <!-- 보안관련해서 써주는 것 -->
            <div style = "margin-top: 20px" class="alert alert-warning" role="alert">사이트 이름과 URL을 정확히 입력해주세요!</div>
                {{form.as_p}}
                <input type="submit" value="Create" style="width:200px">
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}